@import "./normalize";
@import "./colors";
@import "./svg";
@import "./keyframes";
@import './react-grid-layout';
@import './react-resizable';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
  background-color: var(--body-background);
  color: var(--black);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@import "./card";
@import "./input";
@import "./modal";
@import "./buttons";
@import "./menu";
@import "./header";
@import "./dashboard";
@import "./layout";
@import "./grid";
@import "./navigation";
