.input {
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid transparent;

  &:focus-within {
    border: 1px solid var(--gray);
  }

  &__input {
    max-width: 96%;

    &-wrapper {
      max-width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      box-sizing: border-box;
    }

    &-btn {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translatey(-50%);
      padding: 0 6px;
      opacity: 0;
      transition: opacity 0.3s ease;

      &.mod-clear {
        opacity: 1;
      }
    }

    border: none;
    padding: 6px 18px 6px 10px;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__icon {
    &-start,
    &-end {
      padding: 0 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
